.pageHolder {
    height: 100%;
    width: 100%;
}

.invalid_message {
    height: calc(100% - var(--menu-height));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--accent-color-3);
    font-size: var(--large-font);
}

.hide {
    display: none !important;
}

.header_container {
    width: auto;

    padding: var(--padding);
    margin: var(--padding);
}

.main_title_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title_container {
    font-size: calc(18px + 1vmin);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--padding);
}

.source_link {
    color: var(--light-color-1);
    text-decoration: none;
    border: solid 1px var(--accent-color-1);
    border-radius: var(--border-radius-1);
    padding: calc(var(--padding) / 2) var(--padding);
    background-color: var(--accent-color-1);
    margin: var(--padding);
}

.topics_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topic {
    font-size: var(--small-font);
    padding: calc(var(--padding) / 2) var(--padding);
    border: solid 1px white;
    border-radius: var(--border-radius-1);
    margin: var(--padding);
}

.difficulty_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.color_container {
    padding: calc(var(--padding) / 2) var(--padding);
    border-radius: var(--border-radius-1);
}

.red {
    color: var(--accent-color-3);
    background-color: var(--background-color-3);
}

.orange {
    color: var(--accent-color-1);
    background-color: var(--background-color-1);
}

.green {
    color: var(--accent-color-2);
    background-color: var(--background-color-2);
}

.content_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.prompt_container {
    width: 50%;
    overflow: scroll;
}

.response_container {
    width: 50%;
    height: 100%;
    /* overflow: scroll; */
}

.response {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.category_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category_title {
    font-size: var(--large-font);
    width: calc(100% - var(--padding) * 6);
    border-bottom: solid 2px;
    margin: var(--padding);
}

.success_message {
    font-size: calc(14px + 1vmin);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: pre-wrap;
    padding: var(--padding);
}

.results_message_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.results_message_container p {
    padding: var(--padding);
}

.error_testcases {
    font-size: var(--large-font);
    color: var(--accent-color-1);
    white-space: pre-wrap;
}

.highlight_text {
    font-size: var(--large-font);
    font-weight: bold;
}

.success_message_correct {
    color: var(--accent-color-2);
}

.success_message_incorrect {
    color: var(--accent-color-3);   
}

.runtime_container {
    padding: var(--padding);
    margin: var(--padding);
}

.memory_container {
    padding: var(--padding);
    margin: var(--padding);
}

.good_result {
    color: var(--accent-color-2);
}

.bad_result {
    color: var(--accent-color-3);
}

.problem_content {
    white-space: pre-wrap;
    padding: calc(var(--padding) * 2);
    line-height: 1.5;
    font-size: var(--medium-font);
}

@media all and (min-width: 650px) {
    /* .content_container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    } */
}

@media all and (max-width: 649px) {
    .content_container {
        /* width: 100%;
        display: flex; */
        flex-direction: column;
        /* justify-content: space-evenly;
        align-items: flex-start; */
    }

    .prompt_container {
        width: 100%;
        /* overflow: scroll; */
    }
    
    .response_container {
        width: 100%;
        /* height: 100%; */
        /* overflow: scroll; */
    }
}