[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
python-dotenv = "*"
mysql-connector-python = "*"
lxml = "*"
openai = "*"
xerox = "*"

[dev-packages]

[requires]
python_version = "3.9"
